# Python
__pycache__/
*.pyc
venv/
ladiesandgetlemenourbrandnewgpurtx5070/
*.egg-info/
dist/
build/

# Models & Data (too large for GitHub)
out-*/
*.bin
*.pkl
*.pt
data/*/input.txt
data/*/train.bin
data/*/val.bin

# IDE
.vscode/
.idea/

# Misc
.DS_Store
*.log
